rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      // allow read, write;
      // allow read, create, delete, update; (create, delete, update === write)

      // only auth
      allow create: if request.auth !=null;

      // logged in user uid must match the document creator to read & delete
      // resource Is the document in the collaction
      allow read, delete: if request.auth.uid == resource.data.uid

    }
  }
}

// * Deploy to firebase using the cli using 'firebase deploy --only firestore' command